*{
    margin:0;
    padding:0;
}

div.parent>div.sabouri-card{
    width: 200px;
    height: 300px;
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    direction: rtl;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
div.parent>div.sabouri-card>img{
    width: 80%;
    height: 50%;
}
div.parent>div.sabouri-card>p{
    font-size: 10px;
}
div.parent>div.sabouri-card>a{
    text-decoration: none;
    color:white;
    border:1px;
    background-color: crimson;
    padding: 10px;
}